<div class="container mt-5">

  
            <div class="alert alert-primary shadow-sm mb-4">
              <h6 class="my-auto">Hello there! Welcome to my Web Application! </h6> 
            </div>
     
    <div class="card">
        <div class="card-header bg-primary text-white">
            <b>List of Employees</b>
        </div>
        <div class="card-body shadow-sm">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.email }}</td>
                        <td>{{ emp.salary }}</td>
                    
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm mr-2" routerLink="edit/{{ emp._id }}" >Update</button>
                                <button class="btn btn-danger btn-sm" (click)="deleteData(emp._id)">Delete</button>
                            </div>
                          
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>